@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";
@import "../../styles/fontSizes.scss";
@import "../../styles/mixins.scss";

.header-detail {
	font-size: $subheading;
	color: color(secondary);
	margin-left: 1rem;
}

.detail-page-cta {
	width: 100vw;
	height: 10vh;
	position: fixed;
	font-weight: 800;
	bottom: -10px;
	text-align: center;
	font-size: $heading;
	background-color: color(secondary);
	color: color(primary-light);
	border: none;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease-in-out;

	@include screenm {
		display: none;
	}

	&:hover {
		background-color: rgb(64, 82, 110);
	}

	&:active {
		background-color: rgb(25, 30, 39);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 50%;
	}
}

.detail-page-landing {
	height: 100%;
	border-bottom-left-radius: 19px;
	border-bottom-right-radius: 19px;
	width: 100vw;
	height: 60vh;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-bottom: 2em;

	@include screenm {
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
		background-attachment: fixed !important;
		background-position: bottom !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
	}

	.go-back {
		font-size: $subheading;
		position: absolute;
		color: color(primary-light);
		top: 5%;
		left: 5%;

		@include screenm {
			left: 50%;
			top: 25%;
			z-index: 3;
			transform: translateX(-50%);
			font-size: 50px;
		}
	}

	.detail-page-tour-name {
		font-size: $heading;
		color: color(primary-light);
		text-align: center;
		position: absolute;
		bottom: 5%;
		width: 100%;
		font-family: Playfair;

		@include screenm {
			top: 50%;
			transform: translateY(-50%);
			bottom: auto;
			font-size: 95px;
			font-weight: 900;
		}
	}
}

.detail-page-information {
	display: flex;
	justify-content: space-between;
	margin: 0 2em;

	@include screenm {
		display: none;
	}

	.detail-page-information-left {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				font-size: $body2;
				color: color(primary);
				display: flex;
				align-items: center;
				justify-content: left;

				span {
					color: color(secondary);
					margin-right: 1rem;
				}

				.rating {
					color: color(rating);
				}
			}
		}
	}

	.detail-page-information-right {
		width: 80px;
		height: 50px;
		background-color: color(secondary);
		font-size: $body2;
		display: flex;
		align-items: center;
		justify-content: center;
		color: color(primary-light);
		border-top-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}

.rest-of-detail-page {
	@include screenm {
		width: 100vw;
		display: flex;
		box-sizing: border-box;
		position: relative;
		align-items: flex-start;
	}

	.desktop-additional-information {
		z-index: 3;
		@include screenm {
			width: 50%;
			padding-left: 2em;
			padding-right: 2em;
		}
	}

	.desktop-description-detail-page {
		display: none;
		@include screenm {
			width: 50%;
			height: 100vh;
			display: flex;
			justify-content: center;

			.desktop-description-box {
				display: none;
				@include screenm {
					margin-top: 2em;
					width: 480px;
					height: 550px;
					background-color: white;
					border-radius: 20px;
					box-sizing: border-box;
					padding: 2em;
					box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					h1 {
						text-align: center;
						font-family: Playfair;
						font-size: 28px;
						font-weight: 900;
					}
					.desktop-description-box-information {
						ul {
							list-style: none;
							margin: 0;
							padding: 0;

							li {
								font-size: $body2;
								color: color(primary);
								display: flex;
								align-items: center;
								justify-content: space-between;
								margin: 1em 0;
								font-size: 20px;
								font-weight: 600;

								&:last-child {
									margin-top: 2em;
									span {
										font-size: 25px;
										color: black;
										font-weight: bolder;
									}
								}

								span {
									color: color(secondary);
									margin-right: 1rem;
									font-size: 35px;
								}

								.rating {
									color: color(rating);
								}
							}
						}
					}
					.desktop-description-box-button {
						@include cta-button;
						width: 100%;
						height: 50px;
						font-size: 25px;
						font-weight: 900;

						&:hover {
							background-color: rgb(64, 82, 110);
						}

						&:active {
							background-color: rgb(25, 30, 39);
						}

						&:disabled {
							cursor: not-allowed;
							opacity: 50%;
						}
					}
				}
			}
		}
	}
}

.detail-page-description {
	margin-top: 2em;

	.detail-page-description-title {
		font-size: $subheading;
		color: color(secondary);
	}
	.detail-page-description-description {
		margin: 1rem;
		font-size: $body2;
		color: color(primary);
	}
}

.detail-page-guides {
	margin-top: 2em;

	.detail-page-guides-pictures {
		display: flex;

		img {
			width: 120px;
			height: 120px;
			border-radius: 50%;
			object-fit: cover;
			margin: 1em;
		}
	}
}

.detail-page-images {
	margin-top: 3em;

	.sliderimg {
		margin-top: 2em;
		object-fit: cover;
		width: 100%;
		height: 50vh;
	}
}

.detail-page-map {
	margin-top: 2em;

	.detail-map {
		margin-top: 2em;
		width: 100%;
		height: 250px;
		position: relative;
		z-index: 5;
	}
}

.detail-page-reviews {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;

	.review-card {
		align-self: center;
		width: 300px;
		padding: 1rem;
		height: 200px;
		margin: 2em;
		border-radius: 15px;
		background-color: color(primary-light);
		box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);

		@include screenm {
			align-self: flex-start;
			margin: 2em 0;
			width: 450px;
			padding: 2rem;
			box-sizing: border-box;
			height: 230px;
		}

		.review-personal {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			img {
				width: 50px;
				height: 50px;
				object-fit: cover;
				border-radius: 50%;
			}

			span {
				font-size: $subheading;
				color: color(primary);
				margin-left: 1em;
			}
		}

		p {
			margin-top: 3em;
			font-size: $body;
			color: color(primary);

			@include screenm {
				font-size: 18px;
				margin-top: 1em;
			}
		}
	}

	.review-clicker {
		@include cta-button;
		margin-left: 1em;
		margin-top: 1em;

		@include screenm {
			width: 230px;
			height: 40px;
		}
	}
}

.review-form {
	padding-top: 1em;
	padding-bottom: 1em;
	display: flex;
	flex-direction: column;
	height: auto;
	max-height: 100vh;
	width: 300px;

	input {
		background: rgb(255, 255, 255);
		margin: 2rem 0;
		height: 25px;
		border: none;
		border-bottom: 1px solid color(secondary);
		font-size: 13px;
		font-weight: 500;
		transition: all 0.3s ease-in-out;

		&:focus {
			outline: none;
			border-bottom: 2px solid rgb(104, 104, 184);
		}
	}

	div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	button[type="submit"] {
		border: none;
		background: color(secondary);
		color: white;
		height: 35px;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
		border-radius: 15px;
		margin-top: 2em;

		width: 100%;
		&:hover {
			background-color: rgb(64, 82, 110);
		}

		&:active {
			background-color: rgb(25, 30, 39);
		}
	}
}
