@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";
@import "../../styles/fontSizes.scss";
@import "../../styles/mixins.scss";

.header-title-page-settings {
	font-size: $subheading;
	color: color(secondary);
	margin-left: 1em;
}

.edit-profile-section {
	margin-top: 2em;

	form {
		margin-top: 2em;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: center;

		input {
			border: 1px solid rgba(color(primary), 0.5);
			background: none;
			margin: 1em 0;
			height: 20px;
			font-size: $body;
			width: 85%;
			padding-left: 10px;
		}

		div {
			margin: 2em 2em 0 2em;
			display: flex;
			align-items: center;

			img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				object-fit: cover;
			}

			input[type="file"] {
				border: none;
			}
		}

		button {
			@include cta-button;
			height: 35px;
			border: none;
			width: 85%;
			outline: none;
			margin-top: 4em;
			margin-bottom: 4em;
			align-self: center;
		}
	}
}
.changepassword-profile-section {
	margin-top: 2em;

	form {
		margin-top: 2em;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: center;

		input {
			border: 1px solid rgba(color(primary), 0.5);
			background: none;
			margin: 1em 0;
			height: 20px;
			font-size: $body;
			width: 85%;
			padding-left: 10px;
		}

		button {
			@include cta-button;
			height: 35px;

			width: 85%;
			outline: none;
			margin-top: 2em;
			margin-bottom: 4em;
		}
	}
}

.deactivate-profile-section {
	margin-top: 2em;
	// display: flex;
	// flex-direction: column;
	// align-items: center;

	button {
		@include cta-button;
		height: 35px;
		width: 85%;
		margin-top: 2em;
		margin-bottom: 4em;
		display: block;
		margin-left: auto;
		margin-right: auto;
		font-size: $body;
		color: color(primary-light);
		background-color: color(negative);
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: rgb(70, 18, 18);
		}

		&:active {
			background-color: rgb(31, 17, 17);
		}
	}
}
