@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";
@import "../../styles/fontSizes.scss";
@import "../../styles/mixins.scss";

.location-picker {
	z-index: 20;

	.location-map {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 1em;
		width: 300px;
		height: 250px;

		@include screenm {
			width: 450px;
			margin-top: 0;
			height: 450px;
		}
	}

	span {
		text-align: center;
		color: color(secondary);

		@include screenm {
			margin-top: 2em;
		}
	}

	.location-buttons {
		margin-top: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		button {
			@include cta-button;
			background-color: #ddd;
			color: grey;

			&:hover {
				background-color: rgb(163, 163, 163);
			}
		}

		.confirm {
			@include cta-button;
			width: 200px;
			margin-bottom: 15px;

			&:disabled {
				opacity: 50%;
				cursor: not-allowed;
			}
		}
	}
}
