@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import "./styles/breakpoints.scss";
@import "./styles/colors.scss";
@import "./styles/fontSizes.scss";

html {
	scroll-behavior: smooth;
}
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100%;
	max-width: 100vw;
	overflow-x: hidden;
	font-family: Trebuchet;
	background-color: #f0f0f0;
}

#root {
	position: absolute;
	z-index: -3;
}

section {
	z-index: -2;
	position: relative;
	overflow: hidden;
	max-width: 100vw;
	min-height: auto;
}

a {
	text-decoration: none;
	color: color(primary-light);
}

button {
	cursor: pointer;
}

.material-icons {
	margin: 0 2px;
}

.rating {
	color: color(rating);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: Playfair;
	src: url("./resource/fonts/PlayfairDisplaySC-Regular.ttf");
}

@font-face {
	font-family: Trebuchet;
	src: url("./resource/fonts/trebuc.ttf");
}
