@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";
@import "../../styles/fontSizes.scss";

.dashboard-page {
	height: 40vh auto;
	width: 100vw;
	background: url("../../resource/venice.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: color(primary);
	background-blend-mode: soft-light;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include screenm {
		min-height: 50vh auto;
		padding-top: 5em;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
		box-sizing: border-box;
	}

	.dashboard-actions {
		margin-left: 1em;
		align-self: baseline;

		@include screenm {
			align-self: center;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			@include screenm {
				display: flex;
			}

			li {
				color: color(primary-light);
				font-size: $body2;
				margin: 10px 0;

				@include screenm {
					margin: 10px;
				}
			}
		}
	}

	.dashboard-user {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 2em;

		img {
			width: 120px;
			height: 120px;
			border-radius: 50%;
			object-fit: cover;

			@include screenm {
				width: 200px;
				height: 200px;
			}
		}

		span {
			margin-top: 1rem;
			color: color(primary-light);
			font-size: $subheading;
		}
	}
}

.dashboard-page-upcoming-and-reviews {
	@include screenm {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-left: 8em;
		padding-right: 8em;
		box-sizing: border-box;
		margin-right: 0;
		margin-left: 0;
		margin-top: 5em;
		margin-bottom: 5em;
	}
}
.dashboard-page-upcoming-tours {
	margin: 1em 0;

	.upcoming-tours-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1em;
		margin-left: 1em;
		margin-right: 1em;

		.dashboard-title-header {
			font-size: $subheading;
			color: color(secondary);
		}

		.dashboard-title-view {
			font-size: $body2;
			color: color(primary);
			cursor: pointer;
		}
	}

	.upcoming-tour {
		cursor: pointer;
		background-color: color(primary);
		margin: 0 auto;
		background: url("../../resource/sorasak-_UIN-pFfJ7c-unsplash.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: soft-light;
		width: 95%;
		height: 50px;
		margin-bottom: 1em;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
		border-radius: 6px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		transition: all 0.3s ease-in-out;

		&:hover {
			opacity: 50%;
		}

		span {
			font-size: $body2;
			color: color(primary-light);
		}
	}
}

.dashboard-page-admin-panels {
	margin-top: 2em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;

	@include screenm {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5em;
	}

	img {
		object-fit: cover;
		width: 175px;
		height: 175px;
		transition: all 0.3s ease-in-out;

		@include screenm {
			width: 250px;
			height: 250px;
			border-radius: 6px;
		}

		&:hover {
			opacity: 50%;
		}
	}
}

.dashboard-page-latest-news {
	display: flex;
	flex-direction: column;
}

.dashboard-page-reviews {
	margin: 1em 0;

	.reviews-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1em;
		margin-left: 1em;
		margin-right: 1em;
		color: black;

		.dashboard-title-header {
			display: flex;

			font-size: $subheading;
			color: color(secondary);
		}
	}

	.user-review {
		background-color: white;
		border-radius: 6px;
		margin: 0 auto;
		width: 95%;
		height: 50px;
		margin-bottom: 1em;
		display: flex;
		border: 1px solid rgba(color(primary), 0.1);
		justify-content: space-between;
		align-items: center;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
		transition: all 0.3s ease-in-out;

		&:hover {
			opacity: 50%;
		}

		.user-review-tour-name {
			margin: 0 1em;
			font-size: $body2;
			text-align: center;
		}
	}
}

.dashboard-page-advice {
	margin-top: 2em;

	@include screenm {
		padding-left: 8em;
		padding-right: 8em;
		box-sizing: border-box;
		margin-right: 0;
		margin-left: 0;
		margin-top: 5em;
		margin-bottom: 5em;
	}

	.dashboard-page-advice-title {
		h1 {
			font-size: $subheading;
			color: color(secondary);
			margin-left: 1rem;

			@include screenm {
				margin-left: 0;
			}
		}

		span {
			margin-left: 1rem;
			text-align: center;

			@include screenm {
				margin-left: 0;
			}
		}
	}
}

.dashboard-page-support {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1em;

	@include screenm {
		padding-left: 8em;
		padding-right: 8em;
		box-sizing: border-box;
		margin-right: 0;
		margin-left: 0;
		margin-top: 5em;
		margin-bottom: 5em;
	}
}

.dashboard-page-latest-news {
	margin-top: 1rem;
	margin-bottom: 1rem;

	@include screenm {
		padding-left: 8em;
		padding-right: 8em;
		box-sizing: border-box;
		margin-right: 0;
		margin-left: 0;
		margin-top: 5em;
		margin-bottom: 5em;
	}

	.dashboard-page-latest-news-header {
		margin-bottom: 1em;
		h1 {
			font-size: $subheading;
			color: color(secondary);
			margin-left: 1rem;

			@include screenm {
				margin-left: 0;
			}
		}
		span {
			margin-left: 1rem;
			text-align: justify;

			@include screenm {
				margin-left: 0;
			}
		}
	}
}
