@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";
@import "../../styles/fontSizes.scss";
@import "../../styles/mixins.scss";

.login-page {
	height: 120vh;
	min-height: 120vh;
	max-height: 100vh;
	width: 100vw;
	background: url("../../resource/loginscreen.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.auth-content {
		width: 90%;
		height: auto;
		min-height: 60%;
		background-color: color(primary-light);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

		@include screenm {
			height: 500px auto;
			width: 380px;
			box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
		}

		.login-up-form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 85%;

			.login-title {
				font-size: $subheading;
				text-align: center;
				color: color(primary);
				margin-bottom: 3em;
			}

			input {
				@include input;
			}

			button {
				@include cta-button;
				height: 35px;
				width: 100%;
				outline: none;
				margin-top: 4em;
				align-self: center;
			}

			.switch-login {
				cursor: pointer;
				margin-top: 1em;
				font-size: $body;
				color: color(primary);
				text-align: center;
			}
		}

		.sign-up-form {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 85%;
			margin-top: 2em;

			.signup-title {
				font-size: $subheading;
				text-align: center;
				color: color(primary);
			}

			label {
				margin-top: 20px;
				color: color(primary);
				font-size: $body;
			}

			input {
				@include input;
			}

			input[type="file"] {
				border: none;
				background: none;
			}

			button {
				@include cta-button;
				height: 35px;
				width: 100%;
				outline: none;
				margin-top: 4em;

				align-self: center;
			}

			.switch-login {
				cursor: pointer;
				margin: 1em 0;
				font-size: $body;
				color: color(primary);
				text-align: center;
			}
		}
	}

	.login-page-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 5em;

		.login-page-title {
			font-size: $title;
			color: color(primary-light);
			font-family: Playfair;
		}

		.login-page-motto {
			font-size: $subheading;
			color: color(primary-light);
		}
	}

	.login-page-text-black {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 1em;

		.login-page-title-black {
			font-size: $title;
			color: color(primary);
			font-family: Playfair;
		}

		.login-page-motto-black {
			font-size: $subheading;
			color: color(primary);
		}
	}
}
