@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";
@import "../../styles/fontSizes.scss";
@import "../../styles/mixins.scss";

.contact-support {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;

	@include screenm {
		flex-direction: row;
		justify-content: space-between;
		height: 500px;
		margin-top: 2em;
		width: 100%;
	}
	.cs-left {
		@include screenm {
			width: 50%;
			margin-right: 5em;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.cs-left-header {
			h1 {
				font-size: $subheading;
				color: color(secondary);
			}
			span {
			}
		}

		.cs-left-body {
			display: flex;
			flex-direction: column;
			margin-top: 1em;

			div {
				display: flex;
				align-items: center;
				margin-top: 1rem;
				margin-bottom: 1rem;

				@include screenm {
					margin: 2em 0;
				}
				img {
					width: 25px;
					height: 25px;
					margin-right: 1rem;
				}
				span {
					color: color(secondary);

					@include screenm {
						font-size: 23px;
					}
				}
			}
		}

		.cs-left-footer {
			p {
				color: #ff7d0d;
			}
		}
	}

	.cs-right {
		border-radius: 6px;
		width: 100%;
		margin: 0 auto;
		height: 250px;
		background: url("../../resource/support-photo.png") center / cover;

		@include screenm {
			width: 50%;
			height: 100%;
		}
	}
}
