@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";
@import "../../styles/fontSizes.scss";

.home-landing {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: color(primary);

	.home-landing-picture {
		position: sticky;
		display: block;
		// filter: grayscale(20%);
		z-index: -1;
		opacity: 60%;
		object-fit: cover;
		align-self: center;
		width: 100vw;

		min-height: 100vh;
	}

	.home-landing-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 10%;
		.home-landing-title {
			font-family: Playfair;
			font-size: $title;
			color: color(primary-light);
		}
		.home-landing-motto {
			font-size: $subheading;
			color: color(primary-light);
		}
	}

	.home-landing-cta {
		position: absolute;
		bottom: 5%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.home-landing-button {
			background: none;
			cursor: pointer;
			color: color(primary-light);
			width: 170px;
			height: 50px;
			font-size: $subheading;
			border: 3px solid white;
			transition: all 0.3s ease-in-out;

			&:hover {
				background: white;
				color: black;
			}
		}

		.home-landing-button-pointer {
			width: 3px;
			height: 30px;
			margin-top: 10px;
			background-color: white;
		}
	}
}

.home-top-tours {
	padding: 1em 0;
	min-height: 20vh;
	width: 100vw;

	.explore-title {
		font-size: $title;
		color: color(primary);
		margin-left: 1rem;
		font-family: Playfair;
	}

	.explore-search-bar {
		text-align: left;
		align-self: center;
		padding-left: 20px;
		font-size: $body;
		width: 90%;
		margin: 0 auto;
		display: block;
		height: 40px;
		background-color: color(primary-dark);
		border: none;
	}

	.tab-bar {
		display: flex;
		list-style: none;
		align-items: center;
		justify-content: space-between;
		margin-top: 15px;

		.filter span {
			cursor: pointer;
			font-size: $body;
			color: color(primary);
			margin: 0 15px;
		}

		.filter span.active {
			color: color(secondary);
		}

		.clickable {
			font-size: $body;
			color: color(primary);
			margin: 0 10px;
		}
	}
}

.banner-hero-image-1 {
	width: 100%;
	height: 300px;
	background: url("../../resource/airport.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(0 40%, 100% 10%, 100% 70%, 0 100%);
}

.about-us {
	margin-top: 2em;

	.about-us-title {
		margin-left: 1rem;
		font-size: $title;
		color: color(primary);
		font-family: Playfair;
	}

	p {
		margin: 1rem;
		text-align: justify;
		font-size: $body;
		color: color(primary);
	}

	.images-about-us {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 12em;

		.image-one-about {
			position: absolute;
			transform: translate(25%, 25%);
			background: url("../../resource/camperoutside.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 200px;
			height: 200px;
		}
		.image-two-about {
			position: absolute;
			transform: translate(-25%, -25%);
			background: url("../../resource/travelgood.jpg");
			box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 200px;
			height: 200px;
		}
	}
}

.banner-hero-image-2 {
	width: 100%;
	height: 300px;
	background: url("../../resource/road.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(0 40%, 100% 10%, 100% 70%, 0 100%);
	transform: scaleX(-1);
}

.meet-the-team {
	color: color(primary);
	min-height: auto;
	margin-bottom: 5em;

	.meet-the-team-title {
		color: color(primary);
		font-size: $title;
		margin-left: 1rem;
		font-family: Playfair;
	}

	p {
		margin-left: 1rem;
		font-size: $body;
	}

	.meet-the-team-group {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 5em 0;

		.meet-the-team-section-two {
			transform: translateY(35px);
		}

		.single-team-mate {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.single-team-photo {
				width: 140px;
				height: 185px;
				object-fit: cover;
				margin: 10px;
			}

			.single-team-name {
				font-size: $body;
				font-family: Playfair;
			}
		}
	}
}

.contact-us {
	display: flex;
	justify-content: center;
	align-items: center;
	color: color(primary);
	background: url("../../resource/canoing.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1em;
	min-height: 20vh;

	.form-contact-us {
		width: 90%;
		background-color: color(primary-light);
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: space-around;

		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
			width: 100%;

			.form-contact-us-title {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-top: 2em;
				width: 85%;

				.contact-us-title {
					font-size: $heading;
					font-family: Playfair;
				}
			}

			.input-items-contact {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 2em;
				width: 100%;

				input[type="text"] {
					border: 1px solid rgba(color(primary), 0.5);
					width: 80%;
					margin: 1em 0;
					height: 20px;
					outline: none;
					padding-left: 1em;
				}

				textarea {
					width: 80%;
					height: 120px;
					text-align: start;
					border: 1px solid rgba(color(primary), 0.5);
					margin: 1em 0;
					resize: none;
					outline: none;
					padding-left: 1em;
					padding-top: 1em;
				}

				button {
					cursor: pointer;
					height: 35px;
					margin: 2em;
					border: none;
					width: 85%;
					outline: none;
					color: color(primary-light);
					background-color: color(secondary);
					box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
					transition: all 0.3s ease-in-out;

					&:hover {
						background-color: rgb(64, 82, 110);
					}

					&:active {
						background-color: rgb(25, 30, 39);
					}
				}
			}
		}
	}
}
