@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";
@import "../../styles/fontSizes.scss";
@import "../../styles/mixins.scss";

.home-landing {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: color(primary);
	height: 100vh;

	@include screenm {
		height: 100vh;
		flex-direction: row;
		padding-left: 2em;
		padding-right: 2em;
	}

	.home-landing-picture-landing-dont-touch {
		position: absolute;
		display: block;
		z-index: -1;
		object-fit: cover;
		align-self: center;
		width: 100vw;
		min-height: 100vh;
		opacity: 60%;

		@include screenm {
			display: none;
		}
	}

	.home-landing-picture-desktop-landing-dont-touch {
		display: none;
		z-index: -1;
		object-fit: cover;
		width: 130vw;
		height: 100vh;

		@include screenm {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.home-landing-items {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 2em;
		padding-bottom: 2em;

		@include screenm {
			display: flex;
			width: 50%;
			justify-content: center;
		}

		.home-landing-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.home-landing-title {
				font-family: Playfair;
				font-size: $title;
				color: color(primary-light);

				@include screenm {
					font-size: 65px;
				}
			}

			.home-landing-motto {
				font-size: $subheading;
				color: color(primary-light);
			}

			p {
				display: none;
				font-size: $body2;
				color: color(primary-light);

				@include screenm {
					display: block;
					text-align: center;
					font-size: 18px;
				}
			}
		}

		.home-landing-cta {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			@include screenm {
				flex-direction: row;
				margin-top: 2em;
			}

			.home-landing-button {
				@include cta-button;
				font-size: 15px;
				width: 150px;
				height: 35px;
			}

			.home-login-button {
				@include cta-button;
				width: 150px;
				font-size: 15px;
				height: 35px;
				margin-top: 1em;
				background: none;
				border: 2px solid white;

				@include screenm {
					margin-top: 0;
					margin-left: 1.5em;
				}

				&:hover {
					background: white;
					color: color(secondary);
				}
			}

			.home-landing-button-pointer {
				width: 3px;
				height: 30px;
				margin-top: 10px;
				background-color: white;

				@include screenm {
					display: none;
				}
			}
		}
	}

	.home-landing-desktop-projects {
		width: 50%;
		height: 100%;
		display: none;

		@include screenm {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
		}
	}

	.home-landing-picture-partners {
		display: none;

		@include screenm {
			position: absolute;
			bottom: 5%;
		}
	}
}

.home-top-tours {
	padding: 1em 0;
	min-height: 20vh;
	width: 100vw;

	@include screenm {
		width: 100%;
		margin: 2em 0;
	}

	.explore-title {
		font-size: $title;
		color: color(primary);
		margin-left: 8.5rem;

		font-family: Playfair;

		span {
			display: none;
		}

		@include screenm {
			padding-left: 2.5em;

			span {
				display: inline-block;
			}
		}
	}

	.explore-search-bar {
		text-align: left;
		align-self: center;
		padding-left: 20px;
		font-size: $body;
		width: 90%;
		margin: 0 auto;
		display: block;
		height: 40px;
		background-color: color(primary-dark);
		border: none;

		@include screenm {
			margin-top: 1em;
			width: 63%;
			background: none;
			border: 1px solid rgb(134, 134, 134);
		}
	}

	.tab-bar {
		display: flex;
		list-style: none;
		align-items: center;
		justify-content: space-between;
		margin-top: 15px;

		@include screenm {
			width: 63%;

			margin: 15px auto;
		}

		.filter span {
			cursor: pointer;
			font-size: $body;
			color: color(primary);

			margin: 0 15px;
		}

		.filter span.active {
			color: color(secondary);
		}

		.clickable {
			font-size: $body;
			color: color(primary);
			margin: 0 10px;
			opacity: 50%;
		}
	}
}

.banner-hero-image-1 {
	width: 100%;
	height: 300px;
	background: url("../../resource/airport.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(0 40%, 100% 10%, 100% 70%, 0 100%);

	@include screenm {
		width: 100vw;
		clip-path: none;
		margin: 5em 0;
		height: 450px;
	}
}

.about-us {
	margin-top: 2em;

	@include screenm {
		box-sizing: border-box;
		display: flex;
		width: 90%;
		margin: 0 auto;
		align-items: center;
		justify-content: space-evenly;
		padding-left: 2.5em;
		padding-right: 2.5em;
	}

	.about-us-text {
		display: flex;
		flex-direction: column;

		.about-us-title {
			margin-left: 1rem;
			font-size: $title;
			color: color(primary);
			font-family: Playfair;

			@include screenm {
				margin-left: 0;
				padding: 0;
				padding-left: 2em;
			}
		}

		p {
			margin: 1rem;
			text-align: justify;
			font-size: $body;
			color: color(primary);

			@include screenm {
				margin: 0;
				padding: 0;
				font-size: 18px;
				padding-left: 6em;
				width: 60%;
				text-align: left;
			}
		}
	}

	.images-about-us {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 12em;
		border: 3px solid red;

		@include screenm {
			width: 50%;
			height: 50%;
		}

		.image-one-about {
			position: absolute;
			transform: translate(25%, 25%);
			background: url("../../resource/camperoutside.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 200px;
			height: 200px;

			@include screenm {
				width: 250px;
				height: 250px;
			}
		}
		.image-two-about {
			position: absolute;
			transform: translate(-25%, -25%);
			background: url("../../resource/travelgood.jpg");
			box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 200px;
			height: 200px;

			@include screenm {
				width: 250px;
				height: 250px;
			}
		}
	}
}

.banner-hero-image-2 {
	width: 100%;
	height: 300px;
	background: url("../../resource/road.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(0 40%, 100% 10%, 100% 80%, 0 100%);
	transform: scaleX(-1);

	@include screenm {
		width: 100vw;
		/* Full height */
		clip-path: none;
		margin: 5em 0;
		height: 400px;
	}
}

.meet-the-team {
	color: color(primary);
	min-height: auto;
	margin-bottom: 5em;

	.meet-the-team-title {
		color: color(primary);
		font-size: $title;
		margin-left: 1rem;
		font-family: Playfair;

		@include screenm {
			margin: 0 auto;
			display: flex;
			justify-content: center;
		}
	}

	p {
		margin-left: 1rem;
		font-size: $body;

		@include screenm {
			text-align: center;
			font-size: 18px;
		}
	}

	.meet-the-team-group {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 5em 0;

		@include screenm {
			justify-content: center;
		}

		.meet-the-team-section-one {
			@include screenm {
				display: flex;
			}
		}

		.meet-the-team-section-two {
			transform: translateY(35px);

			@include screenm {
				display: flex;
				transform: translateY(0);
			}
		}

		.single-team-mate {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.single-team-photo {
				width: 140px;
				height: 185px;
				object-fit: cover;
				margin: 10px;

				@include screenm {
					width: 250px;
					height: 300px;
					border-radius: 15px;
				}
			}

			.single-team-name {
				font-size: $body;
				font-family: Playfair;

				@include screenm {
					font-size: 25px;
				}
			}
		}
	}
}

.contact-us {
	display: flex;
	justify-content: center;
	align-items: center;
	color: color(primary);
	background: url("../../resource/canoing.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1em;
	min-height: 20vh;

	@include screenm {
		height: 500px;
	}

	.form-contact-us {
		width: 90%;
		background-color: color(primary-light);
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: space-around;
		border-radius: 15px;

		@include screenm {
			height: 500px auto;
			width: 380px;
			box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
			width: 100%;

			.form-contact-us-title {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-top: 2em;
				width: 85%;

				.contact-us-title {
					font-size: $heading;
					font-family: Playfair;
				}
			}

			.input-items-contact {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 0.5rem;
				width: 100%;

				input[type="text"] {
					width: 80%;
					background: rgb(255, 255, 255);
					margin: 1rem 0;
					height: 25px;
					border: none;
					border-bottom: 1px solid color(secondary);
					font-size: 13px;
					font-weight: 500;
					transition: all 0.3s ease-in-out;

					&:focus {
						outline: none;
						border-bottom: 2px solid rgb(104, 104, 184);
					}
				}

				textarea {
					width: 80%;
					height: 120px;
					text-align: start;
					border: 1px solid rgba(color(secondary), 1);
					margin: 1em 0;
					resize: none;
					outline: none;
					padding-left: 1em;
					padding-top: 1em;
					transition: all 0.3s ease-in-out;

					&:focus {
						outline: none;
						border: 2px solid rgb(104, 104, 184);
					}
				}

				button {
					@include cta-button;
					cursor: pointer;
					height: 35px;
					margin: 2em;
					width: 85%;
					outline: none;
				}
			}
		}
	}
}
