// Color variables

$colors: (
	primary: #494947,
	primary-light: #ffffff,
	primary-dark: #b4b4b4,
	secondary: #7494ea,
	positive: #66c37e,
	negative: #d8396a,
	accent: rgb(22, 22, 22),
	rating: rgb(226, 201, 57),
);

// Function: getter for color
@function color($color-name) {
	@return map-get($colors, $color-name);
}
